---
---

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: aliceblue;
  max-width: 1080px;
  margin: auto;
}

.justify {
  display: flex;
  justify-content: center;
}

.padding-vertical {
  padding-bottom: 20px;
  padding-top: 20px;
}