{%- assign experience = include.item -%}
<div class="experience-item flex flex-col p-6 print:p-0  gap-y-2 md:gap-y-4 print:gap-y-1">
  
  <span class="sr-only">{{ experience.role }} at {{ experience.org }} in {{ experience.country }}</span>

  {%- include organization-item.html item = experience date_format = include.date_format -%}

  {%- if experience.frameworks.size > 0 -%}
    <div class="text-sm gap-x-1 hidden print:flex">

      <span class="font-semibold">Skills:</span>
      <span class="flex flex-wrap gap-x-1">
        {%- for framework in experience.frameworks-%}
          <span>{{framework}}</span>
          <span>{%- unless forloop.last -%}&vert;{%- endunless-%}</span>
        {%- endfor -%}
      </span>

    </div>
  {%- endif-%}

  {%- if experience.tools.size > 0 -%}
    <div class="text-sm gap-x-1 hidden print:flex">

      <span class="font-semibold">Tools:</span>
      <span class="flex flex-wrap gap-x-1">
        {%- for framework in experience.tools-%}
          <span>{{framework}}</span>
          <span>{%- unless forloop.last -%}&vert;{%- endunless-%}</span>
        {%- endfor -%}
      </span>

    </div>
  {%- endif-%}

  {%- if experience.summary -%}
    <div class="prose prose-slate dark:prose-invert flex-col flex print:hidden ">
      {{ experience.summary | markdownify }}
    </div>
  {%- endif -%}

  {%- if experience.content -%}
    <div class="prose prose-sm text-black leading-snug max-w-none flex-col hidden print:flex">
      {{ experience.content | markdownify }}
    </div>
  {%- endif -%}

</div>
