<header class="sticky group w-full z-20 top-0 start-0 bg-white dark:bg-gray-900">
    
  <nav class="container mx-auto flex flex-wrap items-baseline justify-between py-4 px-4 md:px-2">

    <div class="flex items-baseline gap-x-2 max-w-xs md:max-w-lg dark:text-white">

      <a class="flex-shrink-0 space-x-3 rtl:space-x-reverse" rel="author" href="{{ "/" | relative_url }}" >
        <span class="self-center text-2xl font-semibold whitespace-nowrap">
          {{ site.title | escape }}
        </span>
      </a>

      {%- if page.title -%}
      <svg class="flex-shrink-0 rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>

      <a class="truncate" href="{{ page.url | relative_url }}" >
        <span class="text-2xl font-semibold whitespace-nowrap">
          {{ page.title | escape }}
        </span>
      </a>
      {%- endif -%}
      
    </div>
    
    {%- include navbar.html -%}
  
  </nav>

</header>