<header class="fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    
  <nav class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  
    <a class="site-title flex items-center space-x-3 rtl:space-x-reverse" rel="author" href="{{ "/" | relative_url }}" >
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        {{ site.title | escape }}
      </span>
    </a>

    {%- include navbar.html -%}

</nav>

</header>