{%- assign project = include.item -%}
<div class="project-item flex flex-col p-4 gap-y-2 md:gap-y-4">
  
  <span class="sr-only">{{ experience.role }} at {{ experience.org }} in {{ experience.country }}</span>

  <div class="flex items-center gap-x-2">

    <svg class="dark:text-white size-6 md:size-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
      <use href="{{ '/assets/social-icons.svg#github' | relative_url }}"></use>
    </svg>

    <div class="text-gray-900 dark:text-white flex-auto text-lg font-bold tracking-tight">
      {{ project.name }}
    </div>

    <a href="{{ project.link }}" title="{{ project.name }}" target="_blank"
      class="flex items-center gap-x-2 text-gray-900 dark:text-white py-1 px-3 border rounded-lg bg-gray-100 hover:bg-gray-200 border-gray-300 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-600" >

      <svg class="size-4" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
        <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z"/>
      </svg>
      <span class="text-sm">Star</span>
    </a>

  </div>

  <div class="flex items-baseline gap-x-2">

    <span class="text-gray-900 dark:text-white text-sm font-extralight tracking-tight">
      {{ project.summary }}
    </span>

  </div>

</div>
