---
---

@import "tailwindcss";

@import "./pygments-github.css";
@import "./pygments-tomorrow-bright.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-github: #1B1F22;
  --color-linkedin: #0072b1;
  --color-rss: #f66a0a;
}

@source inline("text-github");
@source inline("text-linkedin");
@source inline("text-rss");

@media print {
  @page {
    size: A4;
    margin: 2rem 1.25rem;
  }

  html, body {
    width: 210mm;
    height: 297mm;
  }

  .experience-header {
    page-break-after: avoid;
  }

  .experience-item {
    page-break-inside: avoid;
  }
}