.site-footer {
  padding: 15px 0;

  .wrapper {
    display: flex;
    align-items: center;
  }
  
  .footnote {
    flex-shrink: 0;
    
    @include relative-font-size(0.9375);
    color: $brand-color;
  }

  .social-links {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

.pagination,
.social-media-collection {
  display: flex;
  list-style: none;
  margin: 0;
}

.social-media-collection li {
  padding-left: 2px;
  padding-right: 2px;

  a {
    border: none;
    padding: 8px;

    @media screen and (min-width: $on-large) {
      &:hover {
        border-radius: 999px;
        background-color: $lm-brand-color-light
      }
    }
  }

  a[title="github"] .svg-icon {
    color: #1B1F22
  }

  a[title="linkedin"] .svg-icon {
    color: #0072b1
  }

  a[title="rss"] .svg-icon {
    color: #f66a0a;
  }
}
