<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="bg-white dark:bg-gray-900">

    {%- include header.html class_names = "print:hidden" -%}

    {%- include resume_header.html class_names = "hidden print:block" -%}

    <main class="page-content container mx-auto min-h-[calc(100vh-64px-120px)] md:min-h-[calc(100vh-64px-105px)] print:max-w-none" aria-label="Content">
      {{ content }}
    </main>

    <div class="print:hidden">
      {%- include footer.html -%}
    </div>

  </body>

</html>