---
layout: base
---
<article class="h-entry px-4 md:px-2" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="flex flex-col gap-y-2">

    <h2 class="text-3xl font-semibold dark:text-white">{{ page.title | escape }}</h2>

    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}

    <div class="flex flex-col md:flex-row md:gap-x-2 text-gray-400 dark:text-gray-500">
      <span>
        published: 
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
      </span>

      {%- if page.modified_date -%}
        <span class="hidden md:block"> • </span>
        <span>
          modifed:
          {%- assign mdate = page.modified_date | date_to_xmlschema -%}
          <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
            {{ mdate | date: date_format }}
          </time>
        </span>
      {%- endif -%}
      {%- if page.author -%}
        <span class="hidden md:block"> • </span>
        {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span>
          </span>
          {%- if forloop.last == false %}<span>, </span>{% endif -%}
        {% endfor %}
      {%- endif -%}
    </div>
  </header>

  <div class="py-6 md:py-10">
    <div class="e-content prose prose-md md:prose-lg prose-slate dark:prose-invert max-w-none" itemprop="articleBody">
      {{ content }}
    </div>

  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>