---
layout: document
---

<div class="flex flex-col gap-y-4 px-4 md:px-2 py-4 print:py-2">

  <div class="flex flex-col">

    <h2 class="text-base font-bold uppercase hidden print:flex print:border-b print:border-black">
      Fullstack Engineer
    </h2>

    <div class="prose prose-slate dark:prose-invert flex-col max-w-none flex print:hidden ">
      {{ page.summary | markdownify }}
    </div>

    <div class="prose text-black text-xs flex-col max-w-none hidden print:flex">
      {{ content | markdownify }}
    </div>

  </div>

  <div class="flex flex-col">

    {%- assign sorted_jobs= site.jobs | sort: 'till', 'last' | reverse -%}
    {%- if sorted_jobs.size > 0 -%}
      <h2 class="text-lg font-bold flex py-2 light:text-gray-900 dark:text-white print:text-black print:border-b print:border-black print:text-base print:uppercase print:py-0">
        Experience
      </h2>

      {%- if sorted_jobs.size > 0-%}
        <div class="flex flex-col md:flex-row md:flex-wrap gap-y-4 md:gap-x-6">

        {%- for job in sorted_jobs -%}
          {% include experience-card.html item = job %}
        {%- endfor -%}

        </div>
      {%- endif -%}
    {%- endif -%}

  </div>

  <div class="flex-col hidden print:flex">
    {%- assign sorted_projects = site.projects | sort: 'till', 'last' | reverse -%}
    {%- if sorted_projects.size > 0 -%}
      <h2 class="text-base font-bold uppercase flex border-b border-black">
        Projects
      </h2>

      {%- if sorted_projects.size > 0 -%}
        <div class="flex flex-col md:flex-row md:flex-wrap gap-y-4 md:gap-x-6">

        {%- for project in sorted_projects -%}
          {% include experience-card.html item = project %}
        {%- endfor -%}

        </div>
      {%- endif -%}
    {%- endif -%}

  </div>

  <div class="flex flex-col">

    {%- assign sorted_education = site.education | sort: 'till', 'last' | reverse -%}
    {%- if sorted_education.size > 0 -%}
      <h2 class="text-lg font-bold flex py-2 light:text-gray-900 dark:text-white print:text-black print:border-b print:border-black print:text-base print:uppercase print:py-0">
        Education
      </h2>
    
      {%- if sorted_education.size > 0 -%}
        <div class="flex flex-col md:flex-row md:flex-wrap gap-y-4 md:gap-x-6">

        {%- for education in sorted_education -%}
          {% include experience-card.html item = education %}
        {%- endfor -%}

        </div>
      {%- endif -%}
    {%- endif -%}

  </div>

  <div class="flex-col hidden print:flex">

    <h2 class="text-base font-bold uppercase flex border-b border-black">
      Language
    </h2>

    <div class="text-black text-xs max-w-none">
        English, Mandarin
    </div>

  </div>

</div>