---
layout: document
---

<div class="flex flex-col gap-y-4 px-4 md:px-2 py-4 print:py-2">

  <div class="flex flex-col gap-y-4 print:gap-y-1">

    <h2 class="font-bold uppercase hidden print:flex print:border-b print:border-black">
      Fullstack Engineer
    </h2>

    <div class="prose prose-slate md:prose-lg dark:prose-invert flex-col max-w-none flex print:hidden ">
      {{ page.summary | markdownify }}
    </div>

    <div class="prose prose-sm text-black leading-normal flex-col max-w-none hidden print:flex">
      {{ content | markdownify }}
    </div>

  </div>

  <div class="flex flex-col gap-y-4 print:gap-y-1">

    {%- assign sorted_jobs= site.jobs | sort: 'till', 'last' | reverse -%}
    {%- if sorted_jobs.size > 0 -%}
      <h2 class="experience-header text-xl print:text-base font-bold print:uppercase flex text-gray-900 dark:text-white print:text-black print:border-b print:border-black">
        Experience
      </h2>

      {%- if sorted_jobs.size > 0-%}
        <div class="flex flex-col md:flex-row md:flex-wrap gap-y-4 md:gap-x-6 print:flex-col">

        {%- for job in sorted_jobs -%}
          <div class="md:basis-[48%] border rounded-lg bg-white border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700 print:bg-none print:border-none print:shadow-none">
            {% include experience-item.html item = job %}
          </div>
        {%- endfor -%}

        </div>
      {%- endif -%}
    {%- endif -%}

  </div>

  <div class="flex-col gap-y-4 print:gap-y-1 hidden print:flex">

    {%- assign sorted_projects = site.projects | sort: 'till', 'last' | reverse -%}
    {%- if sorted_projects.size > 0 -%}
      <h2 class="experience-header text-xl print:text-base font-bold print:uppercase flex text-gray-900 dark:text-white print:text-black print:border-b print:border-black">
        Projects
      </h2>

      {%- if sorted_projects.size > 0 -%}
        <div class="flex flex-col gap-y-4">

        {%- for project in sorted_projects -%}
          {% include experience-item.html item = project %}
        {%- endfor -%}

        </div>
      {%- endif -%}
    {%- endif -%}

  </div>

  <div class="flex flex-col gap-y-4 print:gap-y-1">

    {%- assign sorted_education = site.education | sort: 'till', 'last' | reverse -%}
    {%- if sorted_education.size > 0 -%}
      <h2 class="experience-header text-xl print:text-base font-bold print:uppercase flex text-gray-900 dark:text-white print:text-black print:border-b print:border-black">
        Education
      </h2>
    
      {%- if sorted_education.size > 0 -%}
        <div class="flex flex-col md:flex-row md:flex-wrap gap-y-4 md:gap-x-6 print:flex-col">

        {%- for education in sorted_education -%}
          <div class="md:basis-[48%] border rounded-lg bg-white border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700 print:bg-none print:border-none print:shadow-none">
            {% include experience-item.html item = education %}
          </div>
        {%- endfor -%}

        </div>
      {%- endif -%}
    {%- endif -%}

  </div>

  <div class="flex-col gap-y-4 print:gap-y-1 hidden print:flex">

    <h2 class="experience-header text-base font-bold uppercase flex border-b border-black">
      Language
    </h2>

    <div class="experience-item text-black text-sm max-w-none">
        English, Mandarin
    </div>

  </div>

</div>